<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>167655734777-9j7e0v6fo6koulfsc75h7cliqcqbtj1b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167655734777-9j7e0v6fo6koulfsc75h7cliqcqbtj1b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>167655734777-22ak9smhj3huigsq5a3eeuotun8tcm26.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBFyuvBmE5ynzTDSUy2Viam-NrrMtcMBTc</string>
	<key>GCM_SENDER_ID</key>
	<string>167655734777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.saravanan.chatty</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-clone-542a5</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-clone-542a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167655734777:ios:80d75d64dd22dc28ef1128</string>
</dict>
</plist>